html
    head 
    title subject 

    body 
        h3 Zdravo #{username} 
        p Uspešno ste kreirali nalog na našem sajtu 
        a(href={url} target=_blank) #{url} 
        p Vaš email je #{email} 